<h1>Accessible Modal Component</h1>
<p>Welcome to the acessible modal testing page!</p>
<button (click)="show()" class="button button-primary" type="button">
  Show modal
</button>

<ng-template #modal>
  <div class="form-field">
    <label for="firstName">First name</label>
    <input id="firstName" [(value)]="firstName" />
  </div>

  <div class="form-field">
    <label for="surName">Surname</label>
    <input id="surName" />
  </div>

  <div class="form-field">
    <label for="age">Age</label>
    <input id="age" />
  </div>

  <div class="button-group">
    <button class="button button-primary" type="button">Submit</button>
    <button
      (click)="modalRef.close()"
      class="button button-secondary"
      type="button"
    >
      Cancel
    </button>
  </div>
</ng-template>

